<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<div class="buttons-container">
    <div class="logo-div">
        <a href="/" class="logo">Textbin</a>
    </div>
    <div class="buttons-div">
        <a href="/new"><i class="fa-solid fa-plus"></i></a>
        <% if(locals.save) { %>
            <button type="submit" class="btn"><i class="fa-solid fa-file-export"></i></button>
        <% } %>
        <% if(locals.id != null) { %>
            <a href="/<%= locals.id %>/duplicate"><i class="fa-solid fa-clone"></i></a>
        <% } %>
        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</div>