<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textbin</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('buttons.ejs', { id: locals.id})%>
    <div class="container">
        <%- include('sidebar.ejs',{links})%>

        
        <div class="line-numbers">
            <% for (let i = 1; i <= code.split('\n').length; i++) { %>
                <div><%= i %></div>
            <% } %>
        </div>
        <pre><code id="code-display"><%= code %></code></pre>
    </div>
</body>
</html>