@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.logo h2 {
    font-size: 37px;
    margin: 15px;
    width: 40%;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: rgb(175, 174, 171);
    background-color: black;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
}

.form-group input,
.form-group label {
    margin-left: 10px; /* Adjusted to align labels and inputs */
}

.submit-btn {
    width: 100%;
    background-color: #232f3e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 0;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #17324d;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}

.create-account a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.create-account a:hover {
    text-decoration: underline;
}
